@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

/* Aplicar colores de fondo base */
body {
    @apply bg-neutral-background text-secondary;
    @apply dark:bg-dark-neutral-background dark:text-dark-secondary;
}

/* Animación de Flote Orgánico */
@keyframes float-complex {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(30px, 50px); }
    50% { transform: translate(-40px, -25px); }
    75% { transform: translate(25px, -60px); }
    100% { transform: translate(0px, 0px); }
}
.animate-float-complex {
    animation: float-complex 10s ease-in-out infinite;
}